html { height: 100%; margin-bottom: 1px;}
form {margin: 0;padding: 0;}
body {font-family: Verdana, Arial, Helvetica, sans-serif;line-height: 150%;margin: 0px 0px 0px 0px;font-size: 12px;color: #000;}
a:link, a:visited {text-decoration: none;font-weight: normal;}
a:hover {text-decoration: underline;	font-weight: normal;}
input.button {cursor: pointer;}
p { margin-top: 0; margin-bottom: 5px; }
img { border: 0 none; }
#page_bg {background:#FFF;}
#bd {overflow:hidden;background:url(../images/bg_bottom.jpg) bottom repeat-x;}
#wrap {width:1002px;	margin:auto;	overflow:hidden;}
#header {width:1002px;height:133px;display:block;}
#logo {width:320px;height:133px;	float:left;}
#banner {float:right;height:105px;margin:15px 5px 0 0;overflow:hidden;padding:0;	text-align:center;width:317px;}
#banner2 {float:right;height:105px;margin:15px 5px 0 0;overflow:hidden;padding:0;text-align:center;width:317px;}
#menu {width:1002px;	display:block;float:left;position:relative;}
#searchtop {	bottom: 2px;  position: absolute;right: 13px;z-index: 100;}
#mod_search_searchword {	border:1px solid #B56219;font-size:11px;padding:2px;height:9px;line-height:9px;float:left;}
#searchtop .button {	background:url(../images/bg_btn_search.jpg) no-repeat;text-indent:-9999px;width:11px;height:11px;display:block;float:left;width:15px;height:15px;border:none;
}
#home_top {width:966px;margin:auto;overflow:hidden;}
#home_cdkm {	width:966px;margin:auto;overflow:hidden;}
#slice {	float:left;width:514px;height:330px;background:url(../images/bg_slice.jpg);}
#tabs {float:left;width:215px;display:block;height:330px;margin-left:7px;background:url(../images/bg_tabs.jpg) no-repeat;line-height: 14.2px;_margin-left:-2px;_width:200px;
}
.moduletable_tabs {background:url(../images/bg_tabs_bot.jpg) bottom no-repeat;}
.ja-tabswrap {height:330px!important;}
.default .ja-tabs-title-top {background:url(../images/bg_tab_top.jpg);position:relative;width:215px;height:38px;}
.default .ja-tabs-title-top ul.ja-tabs-title li h3 {	border:none;}
.default .ja-tabs-title-top ul.ja-tabs-title li {border:none!important;	background:none!important;height:38px;}
.default .ja-tabs-title-top ul.ja-tabs-title li.first {width:106px;margin-left:1px;}
.default .ja-tabs-title-top ul.ja-tabs-title li.last {width:106px;margin-left:2px;}
.default .ja-tabs-title-top ul.ja-tabs-title li.active {background:url(../images/bg_tab_active.png) top no-repeat!important;width:106px;height:38px;}
#bannera {float:right;}
#bannera .banneritem{ margin-bottom:8px;}
#chuyende {float:left;width:737px;height:227px;background:url(../images/bg_chuyende.jpg);}
#chuyende h3 {line-height:30px;font-size:17px;color:#0B602C;font-weight:normal;margin-left:10px;margin-top:17px;margin-bottom:17px;}
#km {width:222px;height:227px;background:url(../images/bg_km.jpg);float:right;position:relative;}
#km h3 {	line-height:30px;font-size:17px;color:#FF9000;font-weight:normal;margin-left:10px;margin-top:17px;margin-bottom:10px;}
ul {	margin:0px;	padding:0px;}
#km ul li {	list-style:none;}
#km li.latestnews {padding-left:30px;background:url(../images/bg_li_km.jpg) no-repeat 10px 6px;margin-bottom:5px;}
#km li.latestnews a{color:#000;font-family:Verdana, Arial, Helvetica, sans-serif;}
#km a.km_more {float:right;color:#2E8C00;right:15px;position:absolute;bottom:5px;}
#main {margin:auto;overflow:hidden;width:966px;}
#janews {float:left;width:491px;overflow:hidden;}
#janews div.jazin-section {background:url(../images/bg_section_tit.jpg) no-repeat;height:41px;width:491px;}
#janews div.jazin-boxwrap {width:491px;background:url(../images/bg_jazin_boxwrap.jpg);margin-top:3px;}
#janews div.jazin-box {background:url(../images/bg_ja_bot.jpg) bottom no-repeat;}
#janews .jazin-content {	padding:0px 10px;}
#janews .janew_intro {float:left;width:320px;}
#janews ul.jazin-links li {	padding-left: 35px;background:url(../images/bg_li_ja.jpg) 18px 4px no-repeat;}
#janews ul.jazin-links li a {color:#000;}
#main_left {	width:272px;float:left;	margin-left:6px;}
#tdhn {width:272px;background:url(../images/bg_tdhn.jpg);}
.moduletable_tdhn {background:url(../images/bg_tdhn_top.jpg) top no-repeat;padding-top:192px;}
ul.featuredarticles_tdhn {list-style:none;background:url(../images/bg_bot_tdhn.jpg) bottom no-repeat;padding-bottom:25px;}
li.featuredarticles_tdhn {padding-left:35px;background:url(../images/bg_li_tdhn.jpg) 18px 4px no-repeat;margin-bottom:5px;padding-right:15px;}
li.featuredarticles_tdhn a{color:#0C9413;font-weight:bold;}
#video select {width:270px;}
.mod_youtubeplaylist {border:0px!important;margin-top:9px!important;}
#video {	background:url(../images/bg_video.jpg);	width:272px;}
#video h3 {margin:0px;line-height:44px;color:#FF9900;font-size:17px;font-weight:normal;padding-left:20px;}
#video .moduletable {background:url(../images/bg_h3_video.jpg) top no-repeat;padding-left:6px;}
#video_inner {background:url(../images/bg_bot_video.jpg) bottom no-repeat;width:272px;overflow:hidden;padding-bottom:10px;}
#meovat {width:272px;background:url(../images/bg_meovat.jpg);margin-bottom:7px;}
#meovat .jazin-section {display:none;}
#meovat h3 {margin:0px;line-height:46px;color:#046C26;font-size:17px;font-weight:normal;padding-left:20px;background:url(../images/bg_h3_meovat.jpg) no-repeat;}	
#meovat #jazin-wrap {padding:0px 10px;width:252px;}
#meovat h4.jazin-title {width:252px;}
#meovat ul.jazin-links {margin:5px 0 0;list-style:none;padding:0px;width:252px;}
#meovat ul.jazin-links li {	padding-left: 20px;	background:url(../images/bg_li_ja.jpg) 3px 4px no-repeat;}
#meovat ul.jazin-links li a {color:#168842;}
#meovat .moduletable {background:url(../images/bg_bot_meovat.jpg) bottom no-repeat;padding-bottom:10px;}
#bannerb {width:269px;padding-left:3px;}
#bannerb .banneritem {margin-bottom:10px;}
#main_right {float:right;width:193px;margin-top:5px;}
#main_right .banneritem {margin-bottom:10px;}
#footer {width:966px;margin:auto;border-top:4px solid #EEAD1C;margin-top:2px;height:120px;}
#menu_footer {width:966px;margin-top:7px;float:left;}
#menu_footer li{list-style:none;float:left;background:url(../images/bg_li_foot.jpg) right no-repeat;}
#menu_footer li ul{display:none;}
#menu_footer li a{color:#000;font-size:12px;font-family:Arial, Helvetica, sans-serif;padding:0px 10px;}
#menu_footer li a:hover,#menu_footer li#current a {text-decoration:none;color:#168842;}
#menu_footer li.item138 {	background:none;}
#menu_footer ul {	margin-left:127px;}
#lhqc {float:left;padding-top:20px;width:150px;}
#developer {	width:375px;float:left;	margin-top:15px;margin-left:84px;}
.dev1 {color:#168842;font-size:13px;}
.dev2, .dev2 a {color:#EE931C;font-size:13px;}
#add {float:right;width:303px;font-size:11px;font-family:Arial, Helvetica, sans-serif;margin-top:10px;}
#wrap2 {	width:1002px;margin:auto;background:url(../images/bg_wrap2.jpg) repeat-y;overflow:hidden;margin-bottom:33px;}
#wrap2_inner {width:1002px;background:url(../images/bg_wrap2_inner.jpg) bottom no-repeat;overflow:hidden;padding-top:10px;}
#compo1 {float:left;width:483px;	/*background:url(../images/bg_compo1.jpg) repeat-y;margin-bottom:5px;*/}
#compo2 {float:left;	width:757px;background:url(../images/bg_compo2.jpg) repeat-y;margin-bottom:5px;}
#compo1_top {background:url(../images/bg_bot_compo1.jpg) bottom no-repeat;}
#compo2_top {background:url(../images/bg_top_compo2.jpg) top no-repeat;}
#compo2_bot {background:url(../images/bg_bot_compo2.jpg) bottom no-repeat;padding:10px;}
#compo1 .componentheading {background:url(../images/bg_componentheading.jpg);width:438px;height:47px;color:#03B601;font-size:20px;line-height:38px;padding-left:45px;font-weight:bold;
	margin:0px;
}
#compo1 .blog {	background:url(../images/bg_compo1_blog.jpg) top no-repeat;}
#compo1 .blog td{padding:7px;}
#compo1 .blog td td{padding:0px;}
#compo1 .blog .contentpaneopen img {width:220px;height:170px;border:1px solid #D0DF9B;padding:3px;margin-right:10px;}
#compo1 .blog .contentpaneopen .buttonheading img {display:none;}
#compo1 .article_column .contentpaneopen img {width:125px;height:90px;border:1px solid #D0DF9B;padding:3px;margin-top:0px;}
#compo1 .blog .contentpaneopen .img_caption {width:240px!important;}
#compo1 .blog .article_column .contentpaneopen .img_caption {width:140px!important;}
#compo1 .blog .contentheading .contentpagetitle {color:#BB3303;font-weight:bold;font-size:17px;}
#compo1 .blog .article_column .contentheading .contentpagetitle {font-size:12px;}
.more {color:#2E8C00;font-size:11px;position:absolute;top:81px;left: 391px;}
#compo1 .blog .contentpaneopen #long1 {position:relative;width:100%;height:190px;}
#compo1 .blog .article_column .contentpaneopen #long1 {position:relative;width:100%;height:100px;}
#compo1 .article_separator {	background:url(../images/dot.png) left 4px repeat-x;height:10px;width:469px;display:block;}
.pagination {color:#5EA301;font-size:12px;font-weight:bold;}
.pagination span,.pagination a{padding:0px 5px;font-weight:bold;color:#5EA301;}
.pagination strong span {color:#BB3303;}
#hot1 {float:left;width:272px;margin-top:10px;}
#hot2,#hot3 {float:left;	width:272px;margin-top:10px;}
.hot div.jazin-section a {	display:block;float:left;font-weight:bold;text-align:center;width:252px;text-align:left;color:#5A7500;line-height:18px;}
.hot .jazin-content  {float:left;width:252px;overflow:hidden;}
.hot ul.jazin-links {margin:5px 0 0;padding:0 0px 0 0;width:252px;float:left;list-style:none;	background:url(../images/dot.png) left 4px repeat-x;padding-top:10px;}
.hot ul.jazin-links li {background:url(../images/bg_li_hot.jpg) 5px 5px no-repeat ;	padding-left:20px;}
.hot ul.jazin-links li a{color:#000;}
.hot {background:url(../images/bg_hot.jpg);}
.hot_inner {	background:url(../images/bg_hot_top.jpg) top no-repeat ;}
.hothot {background:url(../images/bg_hot_bot.jpg) bottom no-repeat ;padding:0px 10px;overflow:hidden;padding-bottom:15px;}
.hothot h4.jazin-title {float:right;width:133px;}
#hot3 .hothot h4.jazin-title {float:right;width:252px;margin-top:5px;	padding-top:10px;}
.hothot div.jazin-section a span {	line-height:30px;}
#bannerd {width:272px;float:left;margin-top:10px;}
#hot2 .jazin-content  {background:url(../images/dot.png) bottom  repeat-x;padding-bottom:10px;margin-bottom:4px;}
.contentheading a.contentpagetitle ,.contentheading {	color:#BB3303;font-family:Verdana, Arial, Helvetica, sans-serif;font-size:18px;font-weight:bold;line-height:27px;}
.contentpaneopen .buttonheading img {	width:16px;border: none;}
.contentpaneopen img {border:1px solid #CEDE99;padding:3px;}
#commentTools a {color:#599C00;font-size:11px;}
div.commentTools {border-bottom:4px solid #D4E2A5;height:18px;}
#jc_commentFormDiv {	border-bottom:4px solid #D4E2A5;padding-bottom:10px;}
#written_comments_title {color:#970000;font-size:15px;font-weight:bold;}
.jomentry1, .jomentry2 {	border:1px solid #D4E2A5;}
#jc_submit, #jc_preview {border:1px solid #D4E2A5;padding:2px 5px;cursor:pointer;}
#relateditemlist li,#olderitemlist li,#neweritemlist li {	list-style:none;background:url(../images/bg_li_extra.jpg) left  no-repeat;padding-left:20px;}
#prev_next_buttom {	margin-top:10px;}
#prev_next_buttom a {color:#970000;	margin-top:10px;}
div.jazin-section-category a {background:url(../images/bg_tabs_right.jpg) right 5px no-repeat;}
#main_left .jazin-content img {margin-right:0px;}